* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background: #2d2d2d;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
  padding: 0;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:hover {
  color: #ffcf85;
}

a.active {
  color: #ffcf85;
}

p {
  margin: 0;
  font-size: 15px;
  color: #fff;
}

i {
  color: #fff;
}

.container {
  max-width: 1140px;
}

.wp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_sign {
  width: 255px;
  height: 60px;
  cursor: pointer;
  background: #ffce17;
  outline: none;
  border: none;
  color: #000;
  font-weight: 500;
}

.btn_sign:hover {
  background: #deaf00;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header nav .nav_top {
  background: #252525;
  width: 100%;
  padding: 20px 0;
}

.header nav .nav_top .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav .nav_top .container .wp .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav .nav_top .container .wp .nav_menu li {
  margin: 0 20px;
}

.header nav .nav_top .container .wp .burger {
  display: none;
}

.header nav .nav_top .container .wp .burger .fas {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.header nav .nav_bottom {
  width: 100%;
  padding: 10px 0;
}

.header nav .nav_bottom .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header nav .nav_bottom .container .wp .nav_search {
  width: 60%;
  position: relative;
}

.header nav .nav_bottom .container .wp .nav_search input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0 20px;
  height: 50px;
  background: #404040;
  border-radius: 1px;
  color: #fff;
}

.header nav .nav_bottom .container .wp .nav_search input::-webkit-input-placeholder {
  font-size: 15px;
  font-style: italic;
}

.header nav .nav_bottom .container .wp .nav_search input::-ms-input-placeholder {
  font-size: 15px;
  font-style: italic;
}

.header nav .nav_bottom .container .wp .nav_search input::placeholder {
  font-size: 15px;
  font-style: italic;
}

.header nav .nav_bottom .container .wp .nav_search .btn_search {
  position: absolute;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #404040;
  outline: none;
  border: none;
  cursor: pointer;
}

.header nav .nav_bottom .container .wp .nav_basket {
  position: relative;
}

.header nav .nav_bottom .container .wp .nav_basket .sum_basket {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 50%;
  border-radius: 50%;
  background: #ffce17;
}

.header nav .nav_bottom .container .wp .nav_basket .sum_basket p {
  text-align: center;
  line-height: 25px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.header .banner {
  width: 100%;
  overflow: hidden;
}

.header .banner .carousel {
  width: 100%;
  max-height: 650px;
}

.header .banner .carousel .carousel-indicators li {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fff;
  margin: 0 8px;
}

.header .banner .carousel .carousel-indicators li.active {
  background: #fff;
}

.header .banner .carousel .carousel-inner .carousel-item img {
  height: 100%;
}

.header .banner .carousel .carousel-inner .carousel-item .carousel-caption {
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  max-height: 100%;
}

.header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left {
  width: 50%;
  text-align: left;
  padding-right: 50px;
}

.header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left h1 {
  font-size: 80px;
  font-family: 'Anton', sans-serif;
}

.header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left p {
  font-size: 16px;
  margin: 20px 0;
  font-weight: 300;
  letter-spacing: 1px;
}

.header .banner .carousel .carousel-control-prev,
.header .banner .carousel .carousel-control-prev {
  display: none;
}

.header .banner .container .about_banner {
  width: 100%;
  max-height: 620px;
  background: #fff;
}

.header .banner .container .about_banner img {
  background-size: cover;
}

.header .sign_item {
  width: 100%;
  background: #252525;
  padding: 40px 10px;
}

.header .sign_item .sup_item {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  color: #fff;
}

.header .sign_item .sup_item .wp {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header .sign_item .sup_item .wp .sign_title {
  text-align: right;
  padding: 5px 30px;
}

.header .sign_item .sup_item .wp .sign_title h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.header .basket_page {
  margin-bottom: 100px;
}

.header .basket_page .container h2 {
  font-size: 30px;
  padding: 50px 0;
  font-weight: 300;
}

.header .basket_page .container .baskit_items .baskit_item {
  margin: 25px 0;
}

.header .basket_page .container .baskit_items .baskit_item .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .img_box {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .model {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffcf85;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .price {
  font-weight: bold;
  font-size: 18px;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns .btn_buy {
  outline: none;
  border: none;
  width: 160px;
  height: 40px;
  cursor: pointer;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns .btn_buy:hover {
  background: #ffce17;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns .del {
  text-decoration: underline !important;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns .del:hover {
  color: red;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_right {
  text-align: right;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_right h6 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.header .basket_page .container .baskit_items .baskit_item .wp .box_right input {
  width: 70px;
  padding-left: 5px;
}

.header .basket_page .container .sum_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .basket_page .container .sum_buy h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
}

.header .basket_page .container .sum_buy .sum_price {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 1px;
}

.header .basket_page .container .sum_buy .btn_sumbuy {
  outline: none;
  border: none;
  cursor: pointer;
  width: 250px;
  height: 50px;
  margin-top: 30px;
}

.header .basket_page .container .sum_buy .btn_sumbuy:hover {
  background: #ffce17;
}

.header .item_card_page {
  margin-top: 50px;
}

.header .item_card_page .container .wp {
  width: 100%;
  min-height: 500px;
  padding: 5px 0;
}

.header .item_card_page .container .wp .prod-img-gallary {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header .item_card_page .container .wp .prod-img-gallary .list_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .item_card_page .container .wp .prod-img-gallary .list_img li {
  border: 2px solid #d7d7d7;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.header .item_card_page .container .wp .prod-img-gallary .list_img li a img {
  height: 100%;
}

.header .item_card_page .container .wp .prod-img-gallary .list_img li.active {
  border-color: #ffd307;
}

.header .item_card_page .container .wp .prod-img-gallary .imgBox {
  width: 100%;
  height: 490px;
  border: 2px solid #d7d7d7;
}

.header .item_card_page .container .wp .prod-img-gallary .imgBox img {
  height: 100%;
}

.header .item_card_page .container .wp .prod-complate {
  width: 50%;
  min-height: 490px;
  padding-left: 50px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .item_card_page .container .wp .prod-complate .prod_name {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #ffcf85;
}

.header .item_card_page .container .wp .prod-complate .rating p {
  font-size: 18px;
}

.header .item_card_page .container .wp .prod-complate .rating .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .item_card_page .container .wp .prod-complate .rating .stars li {
  margin-right: 10px;
}

.header .item_card_page .container .wp .prod-complate .rating .stars li .fas {
  color: #ffce17;
}

.header .item_card_page .container .wp .prod-complate .rating .stars li:last-child .fas {
  color: #dadada;
}

.header .item_card_page .container .wp .prod-complate .price {
  font-size: 25px;
  font-weight: 500;
}

.header .item_card_page .container .wp .prod-complate .pord_color {
  margin: 15px 0;
}

.header .item_card_page .container .wp .prod-complate .pord_color h4 {
  font-weight: bold;
  font-size: 20px;
}

.header .item_card_page .container .wp .prod-complate .pord_color h4 span {
  font-weight: 300;
}

.header .item_card_page .container .wp .prod-complate .pord_color .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.header .item_card_page .container .wp .prod-complate .pord_color .colors li {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 15px;
  cursor: pointer;
}

.header .item_card_page .container .wp .prod-complate .pord_color .colors li p {
  display: none;
}

.header .item_card_page .container .wp .prod-complate .size h4 {
  font-size: 20px;
}

.header .item_card_page .container .wp .prod-complate .size .list_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.header .item_card_page .container .wp .prod-complate .size .list_size li {
  width: 65px;
  height: 30px;
  margin: 0 15px 15px 0;
  color: #000;
  background: #f1f1f1;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.header .item_card_page .container .wp .prod-complate .buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .item_card_page .container .wp .prod-complate .buy .btn_buy {
  outline: none;
  border: none;
  cursor: pointer;
  width: 160px;
  height: 50px;
}

.header .item_card_page .container .wp .prod-complate .buy .btn_buy:hover {
  background: #ffce17;
}

.header .item_card_page .container .wp .prod-complate .buy .add_basket {
  text-decoration: underline !important;
  margin-left: 60px;
}

.section .sec_about .container h3 {
  font-size: 40px;
  padding-top: 100px;
}

.section .sec_about .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 100px 0;
}

.section .sec_about .container .wp .line {
  width: 18%;
  height: 2px;
  border-radius: 5px;
  background: #fff;
}

.section .sec_about .container .wp .content {
  width: 82%;
  padding: 0 150px 0 30px;
}

.section .sec_about .container .wp .content p {
  font-size: 18px;
  font-weight: 300;
}

.section .sec_about .experience {
  background: #252525;
  width: 100%;
}

.section .sec_about .experience .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.section .sec_about .experience .container .wp .item_year {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .sec_about .experience .container .wp .item_year h3 {
  font-weight: bold;
  font-size: 300px;
  font-family: 'Anton', sans-serif;
  padding: 0;
}

.section .sec_about .experience .container .wp .item_year .year {
  width: 270px;
  height: 50px;
  background: #fff;
  margin-left: 30px;
}

.section .sec_about .experience .container .wp .item_year .year p {
  line-height: 50px;
  font-size: 23px;
  font-weight: 900;
  color: #808080;
}

.section .sec_about .experience .container .wp .item_title {
  width: 40%;
}

.section .sec_about .experience:nth-child(3) {
  background: transparent;
}

.section .sec_about .sl_block .container .carousel {
  height: 750px;
  width: 100%;
}

.section .sec_about .sl_block .container .carousel .carousel-indicators {
  bottom: 50px;
}

.section .sec_about .sl_block .container .carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 8px;
  border: 1px solid #fff;
  background: transparent;
}

.section .sec_about .sl_block .container .carousel .carousel-indicators li.active {
  background: #fff;
}

.section .sec_about .sl_block .container .carousel .carousel-inner .carousel-item {
  height: 750px;
}

.section .sec_about .sl_block .container .carousel .carousel-inner .carousel-item .carousel-caption {
  top: 15%;
  left: 20%;
  right: 20%;
}

.section .sec_about .sl_block .container .carousel .carousel-inner .carousel-item .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.section .sec_about .sl_block .container .carousel .carousel-inner .carousel-item .carousel-caption h4 {
  margin: 50px 0;
  font-weight: bold;
}

.section .sec_about .sl_block .container .carousel .carousel-control-prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section .sec_about .sl_block .container .carousel .carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section .product_card {
  margin-bottom: 50px;
}

.section .product_card .container h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 50px 0;
}

.section .product_card .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.section .product_card .container .wp .item_card {
  margin-right: 30px;
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
}

.section .product_card .container .wp .item_card:last-child {
  margin: 0;
}

.section .product_card .container .wp .item_card:hover {
  border: 1px solid #fff;
}

.section .product_card .container .wp .item_card .card_img {
  width: 100%;
  height: 350px;
  background: #fff;
  overflow: hidden;
}

.section .product_card .container .wp .item_card .card_title {
  padding-top: 20px;
}

.section .product_card .container .wp .item_card .card_title .product_name {
  padding-left: 15px;
}

.section .product_card .container .wp .item_card .card_title .product_name h6 {
  color: #ffcf85;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.section .product_card .container .wp .item_card .card_title .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.section .product_card .container .wp .item_card .card_title .price p {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.section .product_card .container .wp .item_card .card_title .price a {
  color: #ffce17;
  text-decoration: underline !important;
  font-size: 14px;
}

.section .product_quality .product_quality_item {
  background: #252525;
  width: 100%;
}

.section .product_quality .product_quality_item .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  overflow: hidden;
}

.section .product_quality .product_quality_item .container .wp .title {
  width: 60%;
  color: #fff;
}

.section .product_quality .product_quality_item .container .wp .title h3 {
  font-size: 35px;
}

.section .product_quality .product_quality_item .container .wp .item-img {
  width: 40%;
  height: 100%;
}

.section .product_quality .product_quality_item:nth-child(2) {
  background: transparent;
}

.section .product_quality .product_quality_item:nth-child(2) .container .wp {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.section .sale {
  width: 100%;
  position: relative;
}

.section .sale .sale_content {
  height: 700px;
}

.section .sale .sale_content .container .content {
  width: 50%;
  padding: 100px 100px 100px 0;
}

.section .sale .sale_content .container .content h4,
.section .sale .sale_content .container .content h3 {
  color: #ffce17;
  padding: 10px 0;
}

.section .sale .sale_content .container .content h2 {
  color: #ffcf85;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.section .sale .sale_content .container .content p {
  color: #fff;
  font-size: 14px;
}

.section .sale .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 700px;
}

.section .sale .wp .item {
  width: 50%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #858585;
}

.section .sale .wp .item img {
  width: 50px;
  margin: auto;
}

.section .sale .wp .item:first-child {
  background: #141414;
}

.section .sale .sale_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.section .contact {
  background: #c9c9c9;
  color: #7a7a7a;
}

.section .contact h2 {
  text-align: center;
  font-size: 40px;
  padding: 40px 0;
  font-weight: 300;
}

.section .contact .map {
  width: 100%;
  height: 180px;
}

.section .contact .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 0;
}

.section .contact .container .wp .item {
  text-align: center;
}

.section .contact .container .wp .item h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.section .contact .container .wp .item p {
  font-size: 16px;
}

.section .contact .container .wp .item .phone {
  font-size: 17px;
}

.section .contact .container .wp .item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .contact .container .wp .item .social li {
  width: 40px;
  height: 40px;
  background: #7a7a7a;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.section .contact .container .wp .item .social li a .fab {
  font-size: 25px;
  line-height: 40px;
}

.section .contact .container .wp .item .social li:hover {
  background: #ffce17;
}

.section .contact .container .wp .item .social li:hover a .fab {
  color: #7a7a7a;
}

.footer {
  width: 100%;
  background: #252525;
  padding: 50px 0 100px 0;
}

.footer .container .wp {
  color: #a7a7a7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .container .wp .footer_nav li {
  padding: 2px 0;
}

.footer .container .wp .footer_nav li a {
  color: #a7a7a7;
}

.footer .container .wp .footer_nav li a:hover {
  color: #ffcf85;
}

.footer .container .wp .center {
  text-align: center;
}

.footer .container .wp .center h6 {
  font-weight: bold;
  font-size: 18px;
}

.footer .container .wp .center h6 span {
  font-weight: normal;
}

.footer .container .wp .center .sign_mail {
  margin-top: 30px;
  position: relative;
}

.footer .container .wp .center .sign_mail input {
  width: 350px;
  height: 50px;
  padding: 0 70px 0 20px;
  outline: none;
  border: none;
}

.footer .container .wp .center .sign_mail input::-webkit-input-placeholder {
  color: #000;
}

.footer .container .wp .center .sign_mail input::-ms-input-placeholder {
  color: #000;
}

.footer .container .wp .center .sign_mail input::placeholder {
  color: #000;
}

.footer .container .wp .center .sign_mail .btn_sign_mail {
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #ffcf85;
  position: absolute;
  top: 0;
  right: 0;
}

.footer .container .wp .center .sign_mail .btn_sign_mail img {
  width: 12px;
}

.footer .container .wp .center .sign_mail .btn_sign_mail:hover {
  background: #fca622;
}

.footer .container .wp .right div {
  width: 200px;
  height: 30px;
  background: #c9c9c9;
}

.modal_sg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
}

.modal_sg .modal_sign_up {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background: #fff;
}

.modal_sg .modal_sign_up p {
  text-align: center;
  margin-top: 50px;
}

.modal_sg .modal_sign_up p input {
  width: 350px;
  height: 35px;
  background: #efefef;
  padding: 0 25px;
  outline: none;
  border: none;
  margin: 15px 0;
}

.modal_sg .modal_sign_up p .btn_sign {
  background: #00a0ff;
  color: #fff;
  cursor: pointer;
}

.modal_sg .modal_sign_up a {
  color: #00a0ff;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #00a0ff;
}

.modal_sg .modal_sign_up .close {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.modal_sg .modal_sign_up .close .fas {
  color: #00a0ff;
  font-size: 35px;
}

@media only screen and (max-width: 1400px) {
  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left {
    width: 70%;
  }
}

@media only screen and (max-width: 1140px) {
  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 10%;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left {
    width: 80%;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left h1 {
    font-size: 50px;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left p {
    font-size: 14px;
  }

  .header .sign_item {
    padding: 20px 10px;
  }

  .header .sign_item .sup_item {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .header nav .nav_top {
    padding: 40px 0;
    position: relative;
  }

  .header nav .nav_top .container .wp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header nav .nav_top .container .wp .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .header nav .nav_top .container .wp .nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    top: 0;
    left: -100%;
    width: 30%;
    height: 300px;
    background: #fff;
    z-index: 99999;
    padding: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .header nav .nav_top .container .wp .nav_menu.show {
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .header nav .nav_top .container .wp .nav_menu li a {
    color: #000;
    text-transform: uppercase;
  }

  .header nav .nav_top .container .wp .burger {
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .header nav .nav_top .container .wp .burger.close {
    left: 31%;
  }

  .header nav .nav_top .container .wp .burger .fas {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .header nav .nav_bottom {
    width: 100%;
    padding: 10px 0;
  }

  .header nav .nav_bottom .container .wp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .header nav .nav_bottom .container .wp .nav_search {
    width: 60%;
    position: relative;
  }

  .header nav .nav_bottom .container .wp .nav_search input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0 20px;
    height: 50px;
    background: #404040;
    border-radius: 1px;
    color: #fff;
  }

  .header nav .nav_bottom .container .wp .nav_search input::-webkit-input-placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search input::-ms-input-placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search input::placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search .btn_search {
    position: absolute;
    top: 50%;
    right: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #404040;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .header nav .nav_bottom .container .wp .nav_basket {
    position: relative;
  }

  .header nav .nav_bottom .container .wp .nav_basket .sum_basket {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    background: #ffce17;
  }

  .header nav .nav_bottom .container .wp .nav_basket .sum_basket p {
    text-align: center;
    line-height: 25px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 10%;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left {
    width: 100%;
    padding-right: 20px;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left h1 {
    font-size: 50px;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left p {
    font-size: 14px;
    margin: 10px 0;
  }

  .header .sign_item {
    padding: 20px 50px 20px 10px;
  }

  .header .sign_item .sup_item {
    width: 100%;
  }

  .header .item_card_page {
    margin-top: 50px;
  }

  .header .item_card_page .container .wp {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .item_card_page .container .wp .prod-img-gallary {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }

  .header .item_card_page .container .wp .prod-complate {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

  .section .product_card .container .wp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .section .product_card .container .wp .item_card {
    margin-right: 0;
    width: 45%;
  }

  .section .sale .sale_content .container .content {
    width: 100%;
    padding: 0;
  }

  .section .sale .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section .sale .wp .item {
    width: 100%;
  }

  .section .contact .container .wp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0;
  }

  .section .contact .container .wp .item {
    width: 50%;
    margin: 20px 0;
  }

  .footer {
    padding: 20px 0;
  }

  .footer .container .wp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .container .wp .footer_nav {
    width: 30%;
    margin: 20px 0;
  }

  .footer .container .wp .center {
    text-align: left;
    width: 70%;
    margin: 20px 0;
  }

  .footer .container .wp .center h6 {
    font-weight: bold;
    font-size: 18px;
  }

  .footer .container .wp .center h6 span {
    font-weight: normal;
  }

  .footer .container .wp .center .sign_mail {
    margin-top: 30px;
    position: relative;
  }

  .footer .container .wp .center .sign_mail input {
    width: 100%;
  }

  .footer .container .wp .right {
    width: 50%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 720px) {
  .btn_sign {
    width: 200px;
    height: 50px;
  }

  .header nav .nav_top .container .wp .nav_menu {
    width: 35%;
    height: 400px;
  }

  .header nav .nav_top .container .wp .burger .fa-window-close {
    color: #fff;
  }

  .header nav .nav_top .container .wp .burger.close {
    left: 36%;
  }

  .header nav .nav_bottom {
    width: 100%;
    padding: 10px 0;
  }

  .header nav .nav_bottom .container .wp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .header nav .nav_bottom .container .wp .nav_search {
    width: 60%;
    position: relative;
  }

  .header nav .nav_bottom .container .wp .nav_search input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0 20px;
    height: 50px;
    background: #404040;
    border-radius: 1px;
    color: #fff;
  }

  .header nav .nav_bottom .container .wp .nav_search input::-webkit-input-placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search input::-ms-input-placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search input::placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search .btn_search {
    position: absolute;
    top: 50%;
    right: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #404040;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .header nav .nav_bottom .container .wp .nav_basket {
    position: relative;
  }

  .header nav .nav_bottom .container .wp .nav_basket .sum_basket {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    background: #ffce17;
  }

  .header nav .nav_bottom .container .wp .nav_basket .sum_basket p {
    text-align: center;
    line-height: 25px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 10%;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left {
    width: 100%;
    text-align: center;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left h1 {
    font-size: 30px;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left p {
    font-size: 10px;
    margin: 5px;
  }

  .header .basket_page {
    margin-bottom: 50px;
  }

  .header .basket_page .container h2 {
    padding: 25px 0;
  }

  .header .basket_page .container .baskit_items .baskit_item {
    margin: 25px 0;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .img_box {
    width: 150px;
    height: 150px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title {
    width: 150px;
    margin-left: 10px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .model {
    font-size: 18px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .price {
    font-size: 16px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns .btn_buy {
    width: 100px;
    height: 30px;
    margin-right: 15px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns .del {
    font-size: 15px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_right {
    text-align: right;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_right h6 {
    font-size: 18px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_right input {
    width: 50px;
    padding-left: 5px;
  }

  .header .basket_page .container .sum_buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header .basket_page .container .sum_buy h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .header .basket_page .container .sum_buy .sum_price {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
  }

  .header .basket_page .container .sum_buy .btn_sumbuy {
    outline: none;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 50px;
    margin-top: 30px;
  }

  .header .basket_page .container .sum_buy .btn_sumbuy:hover {
    background: #ffce17;
  }

  .section .sec_about .container h3 {
    font-size: 40px;
    padding-top: 50px;
  }

  .section .sec_about .container .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }

  .section .sec_about .container .wp .line {
    margin: 20px 0;
  }

  .section .sec_about .container .wp .content {
    width: 100%;
    padding: 0;
  }

  .section .sec_about .container .wp .content p {
    font-size: 16px;
    font-weight: 300;
  }

  .section .sec_about .experience .container .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }

  .section .sec_about .experience .container .wp .item_year {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section .sec_about .experience .container .wp .item_year .year {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .section .sec_about .experience .container .wp .item_title {
    width: 90%;
  }

  .section .sec_about .experience:nth-child(3) {
    background: transparent;
  }

  .section .sec_about .sl_block .container .carousel .carousel-indicators {
    bottom: 5px;
  }

  .section .sec_about .sl_block .container .carousel .carousel-inner .carousel-item {
    height: 750px;
  }

  .section .sec_about .sl_block .container .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 5%;
    left: 5%;
    right: 5%;
  }

  .section .sec_about .sl_block .container .carousel .carousel-control-prev {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .section .sec_about .sl_block .container .carousel .carousel-control-next {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .section .product_card .container .wp .item_card {
    width: 70%;
    margin-bottom: 20px;
  }

  .section .sale .sale_content .container .content h3,
  .section .sale .sale_content .container .content h4 {
    font-size: 20px;
  }

  .section .sale .sale_content .container .content h2 {
    font-size: 30px;
  }

  .section .sale .sale_content .container .content p {
    font-size: 13px;
  }

  .section .sale .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section .sale .wp .item {
    width: 100%;
  }

  .section .contact .container .wp .item {
    width: 100%;
  }

  .footer {
    padding: 20px 0;
  }

  .footer .container .wp {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .container .wp .footer_nav {
    width: 70%;
    text-align: center;
  }

  .footer .container .wp .center {
    text-align: center;
    width: 70%;
  }

  .footer .container .wp .right {
    width: 70%;
  }
}

@media only screen and (max-width: 540px) {
  .btn_sign {
    width: 150px;
    height: 30px;
    font-size: 13px;
  }

  .header nav .nav_top .container .wp .nav_menu {
    width: 45%;
    height: 300px;
    padding: 0;
  }

  .header nav .nav_top .container .wp .nav_menu li a {
    font-size: 13px;
  }

  .header nav .nav_top .container .wp .burger .fas {
    font-size: 25px;
  }

  .header nav .nav_top .container .wp .burger.close {
    left: 46%;
  }

  .header nav .nav_bottom {
    width: 100%;
    padding: 10px 0;
  }

  .header nav .nav_bottom .container .wp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .header nav .nav_bottom .container .wp .nav_search {
    width: 60%;
    position: relative;
  }

  .header nav .nav_bottom .container .wp .nav_search input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0 20px;
    height: 50px;
    background: #404040;
    border-radius: 1px;
    color: #fff;
  }

  .header nav .nav_bottom .container .wp .nav_search input::-webkit-input-placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search input::-ms-input-placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search input::placeholder {
    font-size: 15px;
    font-style: italic;
  }

  .header nav .nav_bottom .container .wp .nav_search .btn_search {
    position: absolute;
    top: 50%;
    right: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #404040;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .header nav .nav_bottom .container .wp .nav_basket {
    position: relative;
  }

  .header nav .nav_bottom .container .wp .nav_basket .sum_basket {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    background: #ffce17;
  }

  .header nav .nav_bottom .container .wp .nav_basket .sum_basket p {
    text-align: center;
    line-height: 25px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }

  .header .banner .carousel .carousel-indicators {
    display: none;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 10%;
  }

  .header .banner .carousel .carousel-inner .carousel-item .carousel-caption .container .wp .left p {
    display: none;
  }

  .header .sign_item {
    padding: 10px 0;
  }

  .header .sign_item .sup_item {
    width: 100%;
  }

  .header .sign_item .sup_item .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .sign_item .sup_item .wp .sign_title {
    text-align: center;
  }

  .header .item_card_page {
    margin-top: 50px;
  }

  .header .item_card_page .container .wp .prod-img-gallary {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .item_card_page .container .wp .prod-img-gallary .list_img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }

  .header .item_card_page .container .wp .prod-img-gallary .list_img li {
    margin-right: 0;
  }

  .header .item_card_page .container .wp .prod-img-gallary .imgBox {
    width: 100%;
    height: auto;
    border: 2px solid #d7d7d7;
  }

  .header .item_card_page .container .wp .prod-img-gallary .imgBox img {
    height: auto;
  }

  .header .item_card_page .container .wp .prod-complate {
    width: 100%;
  }

  .header .item_card_page .container .wp .prod-complate .pord_color .colors {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header .item_card_page .container .wp .prod-complate .pord_color .colors li {
    margin-bottom: 15px;
  }

  .header .basket_page {
    margin-bottom: 25px;
  }

  .header .basket_page .container h2 {
    padding: 10px 0;
  }

  .header .basket_page .container .baskit_items .baskit_item {
    margin: 15px 0;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .img_box {
    width: 100px;
    height: 100px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title {
    width: auto;
    margin-left: 10px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .model {
    font-size: 15px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .price {
    font-size: 14px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns .btn_buy {
    width: 70px;
    height: 25px;
    margin-right: 10px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_left .box_title .buy .btns .del {
    font-size: 12px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_right {
    text-align: right;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_right h6 {
    font-size: 15px;
  }

  .header .basket_page .container .baskit_items .baskit_item .wp .box_right input {
    width: 35px;
    padding-left: 5px;
  }

  .header .basket_page .container .sum_buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header .basket_page .container .sum_buy h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .header .basket_page .container .sum_buy .sum_price {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
  }

  .header .basket_page .container .sum_buy .btn_sumbuy {
    outline: none;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 50px;
    margin-top: 30px;
  }

  .header .basket_page .container .sum_buy .btn_sumbuy:hover {
    background: #ffce17;
  }

  .section .product_card .container .wp .item_card {
    width: 95%;
    margin-bottom: 20px;
  }

  .section .product_quality .product_quality_item .container .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section .product_quality .product_quality_item .container .wp .title {
    width: 100%;
    text-align: center;
  }

  .section .product_quality .product_quality_item .container .wp .title h3 {
    font-size: 20px;
    padding-top: 20px;
  }

  .section .product_quality .product_quality_item .container .wp .item-img {
    width: 100%;
    height: auto;
  }

  .section .product_quality .product_quality_item:nth-child(2) .container .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .section .sale .sale_content .container .content h3,
  .section .sale .sale_content .container .content h4 {
    font-size: 15px;
  }

  .section .sale .sale_content .container .content h2 {
    font-size: 20px;
  }

  .section .sale .sale_content .container .content p {
    font-size: 10px;
  }

  .section .sale .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section .sale .wp .item {
    width: 100%;
  }

  .section .contact .container .wp .item {
    width: 100%;
  }

  .footer {
    padding: 20px 0;
  }

  .footer .container .wp .footer_nav {
    width: 100%;
  }

  .footer .container .wp .center {
    width: 100%;
  }

  .footer .container .wp .right {
    width: 100%;
  }
}