body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.btn_buy {
  padding: 17px 36px;
  text-transform: uppercase;
  background: #061e37;
  color: #fff;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn_buy:hover {
  background: #fff;
  color: #000;
  border-color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0;
}

.container {
  max-width: 1430px;
}

.wp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_title {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.content_title h2 {
  font-size: 40px;
  padding-bottom: 10px;
}

.header {
  background: linear-gradient(135deg, rgba(43, 220, 172, 0.7), rgba(88, 59, 241, 0.8)), url("../img/fon_header.png") no-repeat top center;
  background-size: cover;
  width: 100vw;
  min-height: 800px;
}

.header .container .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  position: relative;
}

.header .container .header_nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header_nav .logo .slogan {
  margin-left: 14px;
}

.header .container .header_nav .logo .slogan p,
.header .container .header_nav .logo .slogan span {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 15px;
  color: #000;
}

.header .container .header_nav .logo .slogan span {
  font-weight: 800;
}

.header .container .header_nav .nav_menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .container .header_nav .nav_menu li {
  padding: 0 30px;
}

.header .container .header_nav .nav_menu li a {
  text-transform: capitalize;
  color: #000;
  padding-bottom: 5px;
}

.header .container .header_nav .nav_menu li:hover a {
  color: #061e37;
  border-bottom: 1px solid #061e37;
}

.header .container .header_nav .nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header_nav .nav_right .burger {
  display: none;
  margin-right: 35px;
}

.header .container .header_nav .nav_right .burger .fa {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.header .container .header_nav .nav_right .burger:hover {
  cursor: pointer;
}

.header .container .header_nav .nav_right .burger:hover .fa {
  color: #ffbb42;
}

.header .container .header_nav .nav_right .btn_go {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  padding: 5px 25px;
  font-size: 14px;
}

.header .container .header_nav .nav_right .btn_go:hover {
  background: #fff;
  color: #000;
}

.header .container .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 170px;
}

.header .container .header_content .content {
  width: 55%;
  height: 350px;
  padding-right: 10px;
}

.header .container .header_content .content h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 50px;
  padding-bottom: 20px;
}

.header .container .header_content .content p {
  font-size: 17px;
  margin-bottom: 10px;
}

.header .container .header_content .content .content_btn {
  padding-top: 30px;
}

.header .container .header_content .content .content_btn .btn_buy {
  margin-right: 40px;
  font-weight: 500;
}

.header .container .header_content .video_item {
  width: 45%;
  height: 350px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8))), url("../img/video_bg.png") no-repeat center center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8)), url("../img/video_bg.png") no-repeat center center;
  background-size: cover;
  border: 1px solid #000;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header .container .header_content .video_item .video_box {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header_content .video_item .video_box .btn_play {
  width: 60px;
  height: 60px;
  padding: 0;
}

.header .container .header_content .video_item .video_box p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

section .sec_work {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .sec_work .work_content .container {
  padding: 100px 0;
}

section .sec_work .work_content .container .content_title {
  max-width: 600px;
}

section .sec_work .work_content .container .content_title h4 {
  padding-bottom: 10px;
}

section .sec_work .work_content .container .content_title p {
  font-size: 15px;
}

section .sec_work .work_content .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .sec_work .work_content .container .wp .item {
  text-align: center;
  width: 27%;
}

section .sec_work .work_content .container .wp .item h5 {
  font-size: 20px;
  padding-top: 40px;
}

section .sec_work .work_content .container .wp .item p {
  font-size: 15px;
}

section .sec_work .work_content .container .btn_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px auto 0 auto;
}

section .sec_work .work_card .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .sec_work .work_card .wp .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

section .sec_work .work_card .wp .items .item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}

section .sec_work .work_card .wp .items .item.one {
  background: #80d8ff;
}

section .sec_work .work_card .wp .items .item.two {
  background: #82b1ff;
}

section .sec_work .work_card .wp .items .item.three {
  background: #b388ff;
}

section .sec_work .work_card .wp .items .item.four {
  background: #ea80fc;
}

section .sec_work .work_card .wp .items .item .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .sec_work .work_card .wp .items .item .icons .iconimg {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .sec_work .work_card .wp .items .item .icons .iconimg img {
  margin: auto;
}

section .sec_work .work_card .wp .items .item .icons .text {
  padding-left: 20px;
}

section .sec_work .work_card .wp .items .item .icons .text p {
  color: #fff;
}

section .sec_service {
  min-height: 100vh;
}

section .sec_service .container .content_title {
  padding-top: 100px;
}

section .sec_service .container .content_title h2 {
  text-transform: capitalize;
}

section .sec_service .container #accordion {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

section .sec_service .container #accordion .card {
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section .sec_service .container #accordion .card .card-header {
  background: #fff;
  border: transparent;
}

section .sec_service .container #accordion .card .card-header .mb-0 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .sec_service .container #accordion .card .card-header .mb-0 a .accar_head span {
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  padding-left: 15px;
}

section .sec_service .container #accordion .card .card-header .mb-0 a .fas {
  color: #000;
}

section .sec_service .container #accordion .card .collapse .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .sec_service .container #accordion .card .collapse .card-body img {
  width: 245px;
  height: 158px;
  background-size: cover;
}

section .sec_service .container #accordion .card .collapse .card-body .card_text {
  padding-left: 30px;
}

section .sec_service .container #accordion .card .collapse .card-body .card_text .text2 {
  padding-top: 30px;
}

section .sec_clients {
  width: 100%;
  min-height: 600px;
  background: linear-gradient(135deg, rgba(43, 220, 172, 0.9), rgba(101, 65, 253, 0.9)), url(../img/clients_bg.png) no-repeat center center;
  background-size: cover;
}

section .sec_clients .clients_bg .container .wp .item1 {
  width: 50%;
}

section .sec_clients .clients_bg .container .wp .item1 .item_title {
  padding: 100px 10px 0 0;
}

section .sec_clients .clients_bg .container .wp .item1 .item_title h3 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

section .sec_clients .clients_bg .container .wp .item1 .item_title p {
  color: #fff;
}

section .sec_clients .clients_bg .container .wp .item1 .item_title .btn_buy {
  margin-top: 100px;
}

section .sec_clients .clients_bg .container .wp .item2 {
  width: 50%;
}

section .sec_clients .clients_bg .container .wp .item2 .slick-vertical {
  margin-top: 50px;
}

section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide .client-text {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-left: 40px;
}

section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide .client-text h5 {
  font-weight: bold;
}

section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide .client-text p {
  font-size: 14px;
  font-style: italic;
}

section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-arrow {
  display: none !important;
  width: 30px;
  margin: 0 400px;
  cursor: pointer;
}

section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-arrow:hover {
  opacity: .6;
}

section .sec_about {
  padding-top: 100px;
}

section .sec_about .container .team {
  padding-bottom: 100px;
}

section .sec_about .container .team .content_title {
  max-width: 650px;
}

section .sec_about .container .team .content_title h2 {
  font-weight: 800;
}

section .sec_about .container .team .content_title p {
  color: #90a4ae;
}

section .sec_about .container .team .sl_team {
  max-width: 830px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .sec_about .container .team .sl_team .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

section .sec_about .container .team .sl_team .slick-slide .worker_img {
  padding-top: 50px;
}

section .sec_about .container .team .sl_team .slick-slide .worker_img img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-size: cover;
  opacity: 0.3;
}

section .sec_about .container .team .sl_team .slick-slide .worker_comment {
  display: none;
  width: 700px;
  text-align: center;
  padding-top: 30px;
}

section .sec_about .container .team .sl_team .slick-slide .worker_comment h5 {
  font-size: 18px;
  font-weight: bold;
}

section .sec_about .container .team .sl_team .slick-slide .worker_comment p {
  color: #90a4ae;
  font-size: 15px;
}

section .sec_about .container .team .sl_team .slick-center .worker_img {
  padding: 0;
}

section .sec_about .container .team .sl_team .slick-center .worker_img img {
  width: 200px;
  height: 200px;
  background-size: cover;
  border: 15px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

section .sec_about .container .team .sl_team .slick-center .worker_comment {
  display: block;
}

section .sec_about .container .team .sl_team .slick-next,
section .sec_about .container .team .sl_team .slick-prev {
  opacity: 0;
  display: none !important;
}

section .sec_about .container .team .icon_social {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

section .sec_about .container .team .icon_social .fab,
section .sec_about .container .team .icon_social .fas {
  color: #90a4ae;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

section .sec_about .container .team .icon_social .fab:hover,
section .sec_about .container .team .icon_social .fas:hover {
  color: #061e37;
}

section .sec_about .form_about {
  width: 100vw;
  background: #fafafa;
}

section .sec_about .form_about .forms {
  max-width: 600px;
  margin: 0 auto;
  padding: 70px 0 150px 0;
}

section .sec_about .form_about .forms .content_title {
  max-width: 650px;
}

section .sec_about .form_about .forms .content_title h2 {
  font-weight: 800;
}

section .sec_about .form_about .forms .content_title p {
  color: #90a4ae;
}

section .sec_about .form_about .forms .form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .sec_about .form_about .forms .form1 input {
  width: 280px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #061e37;
  padding: 20px;
  margin-bottom: 20px;
}

section .sec_about .form_about .forms .form2 textarea {
  width: 100%;
  height: 148px;
  border-radius: 5px;
  border: 1px solid #061e37;
  padding: 20px;
  margin-bottom: 20px;
}

section .sec_about .form_about .forms .chek-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .sec_about .form_about .forms .chek-btn .check-input span {
  padding-left: 15px;
  color: #90a4ae;
}

section .sec_about .form_about .forms .chek-btn .btn_buy {
  background: #1de9b6;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

footer {
  min-height: 300px;
  background: linear-gradient(135deg, #33ebbd 35%, #6642ff 65%);
}

footer .container .wp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

footer .container .wp .left {
  width: 50%;
}

footer .container .wp .left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .wp .left .logo .slogan {
  margin-left: 14px;
}

footer .container .wp .left .logo .slogan p,
footer .container .wp .left .logo .slogan span {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 15px;
  color: #000;
}

footer .container .wp .left .logo .slogan span {
  font-weight: 800;
}

footer .container .wp .left .footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  margin: 0;
}

footer .container .wp .left .footer_nav li {
  margin-right: 40px;
}

footer .container .wp .left .footer_nav li a {
  text-transform: capitalize;
  color: #061e37;
  font-size: 15px;
  padding-bottom: 5px;
}

footer .container .wp .left .footer_nav li:hover a {
  border-bottom: 1px solid #061e37;
}

footer .container .wp .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .container .wp .right .nav_menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

footer .container .wp .right .nav_menu li {
  padding: 0 30px;
}

footer .container .wp .right .nav_menu li a {
  text-transform: capitalize;
  color: #061e37;
  padding-bottom: 5px;
  font-size: 15px;
}

footer .container .wp .right .nav_menu li:hover a {
  color: #000;
  border-bottom: 1px solid #061e37;
}

footer .container .wp .right .icon_social {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

footer .container .wp .right .icon_social .fab,
footer .container .wp .right .icon_social .fas {
  color: #8c76ff;
  font-size: 17px;
  cursor: pointer;
  padding: 5px;
}

footer .container .wp .right .icon_social .fab:hover,
footer .container .wp .right .icon_social .fas:hover {
  color: #061e37;
}

@media only screen and (max-width: 1200px) {
  header .container .header_content .content {
    width: 50%;
    padding: 0;
  }

  header .container .header_content .video_item {
    width: 50%;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-arrow {
    margin: 0 auto;
  }

  footer .container .wp .left .footer_nav li {
    margin-right: 10px;
  }

  footer .container .wp .left .footer_nav li a {
    padding: 0 0 5px 0;
  }

  footer .container .wp .right .nav_menu li {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 960px) {
  .header .container .header_nav .nav_menu {
    display: none;
  }

  .header .container .header_nav .nav_menu.responsive {
    display: block;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
  }

  .header .container .header_nav .nav_menu.responsive li {
    margin-top: 20px;
  }

  .header .container .header_nav .nav_menu.responsive li a {
    font-weight: bold;
    color: #fff;
  }

  .header .container .header_nav .nav_right .burger {
    display: block;
  }

  .header .container .header_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 25px;
  }

  .header .container .header_content .content {
    width: 100%;
  }

  .header .container .header_content .content h1 {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .header .container .header_content .content p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .header .container .header_content .video_item {
    width: 100%;
    margin-bottom: 15px;
  }

  section .sec_work .work_card .wp .items {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  section .sec_work .work_card .wp .items .item {
    width: 100%;
  }

  section .sec_work .work_card .wp .items .item .icons {
    margin: auto 60px;
  }

  section .sec_clients .clients_bg .container .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  section .sec_clients .clients_bg .container .wp .item1 {
    width: 100%;
  }

  section .sec_clients .clients_bg .container .wp .item2 {
    width: 100%;
  }

  footer .container .wp {
    padding: 40px;
  }

  footer .container .wp .left .footer_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .container .wp .right .nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  footer .container .wp .right .nav_menu li {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 720px) {
  .header .container .header_content .content h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .header .container .header_content .content p {
    margin-bottom: 5px;
  }

  section .sec_work .work_content .container .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  section .sec_work .work_content .container .wp .item {
    width: 70%;
    margin-bottom: 40px;
  }

  section .sec_work .work_content .container .wp .item h5 {
    padding-top: 15px;
  }

  section .sec_service .container #accordion .card .collapse .card-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  section .sec_service .container #accordion .card .collapse .card-body .card_text {
    padding: 20px;
  }

  section .sec_service .container #accordion .card .collapse .card-body .card_text .text2 {
    padding-top: 10px;
  }

  section .sec_clients .clients_bg .container .wp .item1 .item_title {
    padding: 50px 10px 0 0;
  }

  section .sec_clients .clients_bg .container .wp .item1 .item_title h3 {
    font-size: 40px;
  }

  section .sec_clients .clients_bg .container .wp .item1 .item_title .btn_buy {
    margin-top: 50px;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide {
    margin: 10px 0;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide .client-text {
    margin-left: 10px;
    padding: 10px;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide .client-text h5 {
    font-size: 18px;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide .client-text p {
    font-size: 12px;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-arrow {
    width: 20px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-arrow:hover {
    opacity: .6;
  }

  section .sec_about .container .team {
    padding-bottom: 50px;
  }

  section .sec_about .container .team .sl_team .slick-slide .worker_img img {
    display: none;
  }

  section .sec_about .container .team .sl_team .slick-slide .worker_comment {
    width: 350px;
  }

  section .sec_about .container .team .sl_team .slick-center .worker_img img {
    display: block;
  }

  section .sec_about .form_about .forms {
    padding: 30px 0 50px 0;
  }

  section .sec_about .form_about .forms .form1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px;
  }

  section .sec_about .form_about .forms .form1 input {
    width: 100%;
  }

  section .sec_about .form_about .forms .form2 {
    margin: 0 10px;
  }

  section .sec_about .form_about .forms .chek-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  section .sec_about .form_about .forms .chek-btn .check-input {
    margin-bottom: 25px;
  }

  footer .container .wp {
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  footer .container .wp .left {
    width: 100%;
  }

  footer .container .wp .left .footer_nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  footer .container .wp .right {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  footer .container .wp .right .nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  footer .container .wp .right .nav_menu li {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 540px) {
  .header .container .header_nav {
    padding-top: 20px;
  }

  .header .container .header_nav .logo .slogan {
    margin-left: 10px;
  }

  .header .container .header_nav .logo .slogan p,
  .header .container .header_nav .logo .slogan span {
    font-size: 13px;
    padding: 0;
    margin: 0;
  }

  .header .container .header_nav .logo .slogan span {
    font-weight: 800;
  }

  .header .container .header_nav .nav_right .burger {
    margin-right: 15px;
  }

  .header .container .header_nav .nav_right .burger .fa {
    font-size: 25px;
  }

  .header .container .header_nav .nav_right .btn_go {
    padding: 5px 15px;
  }

  .header .container .header_content .content .content_btn {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header .container .header_content .content .content_btn .btn_buy {
    margin-right: 10px;
    padding: 10px 20px;
  }

  section .sec_work .work_card .wp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  section .sec_clients .clients_bg .container .wp .item1 .item_title {
    padding: 10px;
  }

  section .sec_clients .clients_bg .container .wp .item1 .item_title h3 {
    font-size: 30px;
  }

  section .sec_clients .clients_bg .container .wp .item1 .item_title .btn_buy {
    margin-top: 20px;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-slide .client-text {
    margin-left: 0;
    padding: 10px;
  }

  section .sec_clients .clients_bg .container .wp .item2 .slick-vertical .slick-arrow {
    width: 20px;
    display: block;
    margin: 10px auto;
  }

  section .sec_about .container .team {
    padding-bottom: 50px;
  }

  section .sec_about .container .team .sl_team {
    width: 100%;
  }

  section .sec_about .container .team .sl_team .slick-slide .worker_img img {
    display: none;
  }

  section .sec_about .container .team .sl_team .slick-slide .worker_comment {
    width: 300px;
  }

  section .sec_about .container .team .sl_team .slick-center .worker_img img {
    display: block;
    width: 200px;
    height: 200px;
  }

  section .sec_about .form_about .forms {
    padding: 30px 0 50px 0;
  }

  section .sec_about .form_about .forms .form1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px;
  }

  section .sec_about .form_about .forms .form1 input {
    width: 100%;
  }

  section .sec_about .form_about .forms .form2 {
    margin: 0 10px;
  }

  section .sec_about .form_about .forms .chek-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  section .sec_about .form_about .forms .chek-btn .check-input {
    margin-bottom: 25px;
  }
}